#wrap {
  max-width: 1000px;
  margin: 0 auto; /* 화면 가운데로 */
  height: 100%;
  box-sizing: border-box;
}

/* 장바구니 상품목록 */
.head {
  width: 100%;
  display: grid;
  grid-template-columns: 60px 2fr 1fr 1fr 1fr 60px;
  justify-items: center;
  align-items: center;
  border: solid 1px;
  padding: 20px 0;
}

.body {
  width: 100%;
  display: grid;
  grid-template-columns: 60px 2fr 1fr 1fr 1fr 60px;
  justify-items: center;
  align-items: center;
  border: solid 1px;
  padding: 20px 0;
}

.img {
  width: 150px;
}

.pd {
  display: flex;
  align-items: center;
}

.pd-info {
  flex-direction: column;
  margin-left: 10px;
}

.count {
  display: flex;
}

.count * {
  border: 0;
  outline: 0;
}

.delete-button {
  padding: 5px;
  background-color: white;
  border: 0;
  outline: 0;
}

.select-button {
  border: solid 1px;
  display: flex;
  margin: 10px 0;
}

.select-button div * {
  margin-right: 10px;
}

/* 장바구니 총액 정보 */
.amount {
  margin: 20px 0;
  border: solid 1px;
}

.amount div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.order-button {
  float: right;
  background-color: black;
  padding: 7px 20px;
}

.order-button a {
  text-decoration: none;
  color: white;
}
