/* 첫번쨰 스크린 */
.section-video {
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  align-items: center;
  object-fit: cover;
}

.first-content {
  position: absolute;
  top: 50%;
  left: 60%;
  color: rgba(255, 255, 255, 0.824);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-content p {
  font-size: 3rem;
}

.toGoShop {
  color: rgba(255, 255, 255, 0.824);
  border: 3px solid;
  width: 100px;
  padding: 10px 5px;
  margin-top: 1rem;
  text-decoration: none;
}

/* 두번째 스크린 */
.section-img {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  align-items: center;
  object-fit: cover;
}

.second-content {
  position: absolute;
  top: 150%;
  left: 50%;
  display: flex;
  justify-content: space-around;
}

.second-content section {
  border: 2px solid;
  margin: 20px;
}

/* 세번째 스크린 */
.last-screen {
  position: static;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: black;
  margin: 0;
  padding: 0;
}

.last-content {
  position: absolute;
  top: 230%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  background-color: transparent;
  /* color: white; */
  border-width: 0 0 3px 0;
  width: 300px;
  height: 30px;
}

.submit-button {
  width: 300px;
  background-color: transparent;
  color: white;
  padding: 10px 0;
  border: 2px solid white;
  cursor: pointer;
}

.last-content div {
  color: white;
  display: flex;
}

.last-content div a {
  color: white;
  text-decoration: none;
}

/* 타블렛 버전 */
@media screen and (max-width: 768px) {
  .first-content p {
    font-size: 2.3rem;
  }
}

/* 모바일 버전 */
@media screen and (max-width: 500px) {
  .first-content p {
    font-size: 2rem;
  }
}
