.mypage-container {
  min-height: calc(100vh - 236px);
  width: 90%;
  /* max-width: 1280px; */
  margin: auto;
  padding: 48px;
}

.section-title {
  border-bottom: 2px solid black;
  margin-bottom: 15px;
  padding-bottom: 15px;
  font-weight: 700;
}

/* 회원정보 */
.user-info {
  /* grid에서 flex로 교체 */
  display: flex;
  margin: 30px 0 100px 0;
  padding: 0 30px;
}

/* 분리 되어있던 label과 input을 뭉치고 className 새로 부여 */
.user-info_form {
  margin-right: 50px;
}
.user-info_label {
  font-weight: bolder;
}
.user-info_input {
  margin-bottom: 15px;
}

/* 주문배송 조회 */

.mypage-head {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  border: solid 1px lightgrey;
  padding: 20px;
}

.mypage-body {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  border: solid 1px lightgrey;
  border-top: 0;
  padding: 20px;
}

.mypage-pd {
  display: flex;
  align-items: center;
}

.mypage-info {
  flex-direction: column;
  margin-left: 10px;
}

.mypage-column {
  text-align: center;
}

/* .delivery-button {
  float: right;
  background-color: black;
  padding: 2px 5px;
  color: white;
  font-size: 13px;
}

.mypage-event {
  margin-top: 50px;
}

.delivery-modal {
  margin-top: 50px;
  padding: 20px;
  text-align: left;
} */
