/* 웹 버전 */
* {
  margin: 0;
}

nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 1.2rem 3rem;
  align-items: center;
  z-index: 1;
}

.main-nav {
  background-color: none;
}

.page-nav {
  background-color: white;
  box-shadow: 0px 0px 30px 0px rgb(207, 207, 207);
}

/* 로고 */
.white-logo {
  text-decoration: none;
  font-size: 3rem;
  color: white;
  font-family: "logo";
}

.white-logo:hover {
  color: white;
}

.dark-logo {
  text-decoration: none;
  font-size: 3rem;
  color: black;
  font-family: "logo";
}

.dark-logo:hover {
  color: black;
}

/* 네브메뉴 */
ul {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
}

ul * {
  padding: 0 5px;
  font-size: 1rem;
  color: black;
  text-decoration: none;
  padding: 30;
  font-family: "nav";
}

.white-nav {
  text-decoration: none;
  color: white;
  font-family: "nav";
}

.white-nav:hover {
  color: white;
}
.dark-nav {
  text-decoration: none;
  color: black;
  font-family: "nav";
}
.dark-nav:hover {
  color: black;
}

/* 드롭다운 메뉴 - 마이페이지, 로그아웃 */
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  display: none;
  z-index: 1;
  padding: 10px 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.146);
  background-color: white;
}

.dropdown-menu *:hover {
  color: rgba(0, 0, 0, 0.264);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu * {
  display: block;
  float: left;
  font-size: 0.7rem;
  z-index: 1;
  padding: 5px;
}

.white-dropdown {
  color: rgb(121, 121, 121);
  text-decoration: none;
}

.dark-dropdown {
  color: black;
  text-decoration: none;
  background-color: none;
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
}

/* 타블렛 버전 */
@media screen and (max-width: 768px) {
  .white-logo {
    font-size: 2.5rem;
  }

  .dark-logo {
    font-size: 2.5rem;
  }

  ul * {
    padding: 0 3px;
    font-size: 0.8rem;
  }
}

/* 모바일 버전 아닐 때 햄버거 숨김 */
@media screen and (min-width: 500px) {
  .toggle-button {
    display: none;
  }

  .mobile-nav {
    display: none;
  }
}
