/* 장바구니 Cart.jsx */
.cart-list {
  width: 100%;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  word-break: keep-all;
  text-align: center;
}
.cart-list tr {
  display: grid;
  grid-template-columns: 4fr repeat(4, 2fr);
  gap: 1.5rem;
  align-items: center;
  justify-items: center;
  padding: 1.2rem;
}
.cart-list thead tr {
  border-bottom: 1px solid lightgray;
}
.cart-list thead tr th {
  text-align: center;
  border: none;
  font-weight: bold;
}
.cart-list thead tr th button {
  font-family: "ongothic";
}

/* 아이템이 비었을 때 */
.cart-list .item-empty {
  min-height: 160px;
  display: flex;
  color: lightgray;
  justify-content: center;
  align-items: center;
}

/* 장바구니 아이템 CartItem.jsx */
/* 상품 정보 */
.cart-list .table-product-container {
  display: flex;
  justify-self: left;
  align-items: center;
  text-align: left;
}
.cart-list .table-product-container img {
  width: 120px;
  margin-right: 1.5rem;
  background-color: #dee2e6;
}
.cart-list .table-product-container span {
  font-size: 0.9rem;
}
.cart-list .table-product-container span:last-child {
  color: #000000;
}
.cart-list .table-product-name {
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.cart-list .table-product-label {
  margin-right: 0.5rem;
  color: #adb5bd;
}

/* 구매수량 */
.quantity-container {
  display: flex;
  background-color: #f8f9fa;
  height: fit-content;
}
.quantity-container input {
  height: auto;
  max-width: 3rem;
  min-height: 32px;
  text-align: center;
  border: none;
  background-color: #f8f9fa;
  color: black;
}
.quantity-container input::-webkit-outer-spin-button,
.quantity-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity-container input:active {
  background-color: #e9ecef;
}
.quantity-container input:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #dee2e6 inset;
}
.quantity-container button {
  border-radius: 0;
}

/* 장바구니 아이템 버튼 */
.cart-box .MuiIconButton-root:hover {
  color: #dc3545;
}

/* 사용자 디자인 모달 */
.cart-modal-box {
  display: flex;
  gap: 3rem;
  overflow-y: auto;
}
.cart-modal-box > div > div {
  color: #f8f9fa;
  background-color: #212529;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.cart-modal-box img {
  max-width: 300px;
}
.cart-modal button {
  margin-top: 0.5rem;
  padding: 0;
}

/* 미디어쿼리 */
@media screen and (max-width: 991px) {
  .cart-list tr {
    grid-template-columns: 6fr 2fr 2fr 2fr;
    padding: 1.2rem 0;
  }
  .cart-modal-box {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .cart-list thead tr {
    display: flex;
    padding: 1rem 0;
  }
  .cart-list thead tr th:last-child {
    margin-left: auto;
  }
  .cart-list tbody tr {
    grid-template-columns: repeat(2, auto) 2fr;
    grid-template-rows: repeat(2, auto);
    gap: 0.8rem;
    align-items: flex-start;
    border-bottom: 1px solid lightgray;
  }
  .cart-list tbody tr:last-child {
    border: none;
  }
  .cart-list tbody tr td:nth-child(3) {
    justify-self: end;
  }
  .cart-list tbody tr td:nth-child(4) {
    grid-column: 1/4;
    display: flex;
    width: 100%;
  }
  .cart-list tbody tr td:nth-child(4) div:last-child {
    margin-left: auto;
    align-self: center;
    font-weight: bold;
  }
  .cart-list img {
    width: 70px;
    padding-top: 0.5rem;
  }
  .cart-list .table-product-container {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0.5rem;
  }
  .cart-list .table-product-name {
    margin-bottom: 1.2rem;
  }
  .cart-modal button {
    width: 70px;
  }
  .cart-modal-box img {
    width: 200px;
  }
}
