.post-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.postcode-form {
  display: flex;
}
/* 배송지 변경 input, button */
.post-form_btn {
  width: 50%;
  margin-bottom: 15px;
  margin-left: 0.5rem;
  border: 1px solid black;
  background-color: transparent;
}
.post-form_label {
  font-weight: bolder;
}
.post-form_input {
  border: none;
  border-bottom: 2px solid black;
  margin-bottom: 15px;
}
.post-form_input:focus {
  outline: none;
}

/* 우편번호 input */
#sample6_postcode {
  float: left;
  width: 60%;
}
