:root {
  --text-color: rgb(236, 236, 236);
  --hover-color: rgba(255, 255, 255, 0.227);
}

/* 슬라이드간 간격 삭제 */
.slick-slide {
  border: none !important;
}

.main-container .slick-slide {
  height: 100vh;
}

/* <첫번째 스크린> */
.section-video {
  width: 100%;
  height: 100vh;
}

/* 첫번째 스크린 비디오 */
.section-video video {
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  object-fit: cover;
  filter: brightness(80%);
}

/* 첫번째스크린 문구 */
.first-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: 10%;
  left: -5%;
  height: 100%;
  color: var(--text-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.first-content > div {
  position: relative;
  left: 25%;
  font-size: 3rem;
  z-index: 1;
}

/* 첫번째스크린 view 버튼 */
.toGoShop {
  position: relative;
  top: 10px;
  left: 25%;
  overflow: hidden;
  width: 130px;
  height: 60px;
  border: 3px solid var(--text-color);
  color: var(--text-color);
  font-size: 1rem;
  line-height: 15px;
  padding-top: 20px;
  text-decoration: none;
  cursor: pointer;
  background: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.toGoShop span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
  padding-left: 42px;
  color: var(--text-color);
  font-weight: bolder;
}
.toGoShop:hover {
  background: --hover-color;
}
.toGoShop span:last-child {
  color: var(--text-color);
  font-size: 1rem;
  display: block;
  position: absolute;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  bottom: 0;
  padding-left: 17px;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
  letter-spacing: 0em;
}

.toGoShop:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.308);
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.toGoShop:hover span:first-child {
  visibility: hidden;
}

.toGoShop:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.toGoShop:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

/* <두번째 스크린> */
.section-img {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* 두번째 이미지 */
.second-screen img {
  width: 100%;
  height: 100%;
  align-items: center;
  object-fit: cover;
  filter: brightness(70%);
}

.second-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 30%;
  left: 0%;
}

.second-content > * {
  color: var(--text-color);
  width: 100%;
  padding: 0 5%;
}
.second-content > p {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.second-content > span {
  font-size: 18px;
  margin-bottom: 5px;
}

/* <세번째 스크린> */
.last-screen {
  position: static;
  background-color: black;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* 세번째 스크린 문구 */
.last-content {
  position: absolute;
  width: 100vw;
  top: 47%;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.last-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-bottom: 30px;
}

/* '상품 업데이트 정보를 구독 받으세요' 문구 */
.last-content form h3 {
  margin-bottom: 30px;
}

/* '이메일을 입력해주세요' 인풋 */
.last-content form input {
  background-color: transparent;
  border-width: 0 0 2px 0;
  width: 80%;
  max-width: 400px;
  height: 40px;
  align-items: center;
  color: var(--text-color);
  margin-bottom: 5px;
}

/* '구독' 버튼 */
.submit-button {
  width: 80%;
  max-width: 400px;
  height: 50px;
  background-color: transparent;
  color: var(--text-color);
  padding: 10px 0;
  border: 2px solid var(--text-color);
  cursor: pointer;
}

/* 저작권, SNS div */
.team-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

/* 아이콘들 */
.last-content div a {
  color: var(--text-color);
  font-size: 2rem;
  text-decoration: none;
  width: 80%;
  margin: 0 20px;
}

/* 슬릭 첫페이지로 */
.button-wrap {
  z-index: 100;
  color: white;
  position: fixed;
  bottom: 5%;
  left: 0;
  margin-left: 30px;
  text-align: center;
}
.button-wrap svg {
  color: white;
  font-size: 2.5rem;
}
.button-animation {
  animation: jump 1.5s infinite;
}
.button-hidden {
  display: none;
}
@keyframes jump {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}

/* 슬릭 첫페이지로 */
.button-wrap {
  z-index: 10;
  color: var(--text-color);
  position: fixed;
  bottom: 5%;
  right: 3%;
  text-align: center;
}
.button-wrap span {
  margin-right: 3px;
}
.button-wrap svg {
  color: var(--text-color);
  font-size: 2rem;
}
.button-animation {
  animation: jump 1.5s infinite;
}
.button-hidden {
  display: none;
}
@keyframes jump {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
  100% {
    bottom: 0;
  }
}

/* 미디어 쿼리 */
@media screen and (max-width: 960px) {
  .first-content {
    top: 9%;
    left: -1%;
    height: 100%;
  }

  .first-content > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .first-content > div > span {
    font-size: 2.5rem;
  }

  .toGoShop {
    width: 120px;
  }

  .toGoShop > span:first-child {
    padding-left: 36px;
  }

  .toGoShop > span:last-child {
    padding-left: 14px;
  }
}

@media screen and (max-width: 768px) {
  .first-content {
    top: 10%;
    left: -3%;
    height: 100%;
  }

  .first-content > div > span {
    font-size: 2.3rem;
  }

  .toGoShop {
    width: 120px;
  }

  .button-wrap {
    margin-left: 20px;
  }

  .second-content > p {
    font-size: 30px;
  }

  .second-content > span {
    font-size: 16px;
  }
}

@media screen and (max-width: 560px) {
  .first-content {
    top: 8.2%;
    left: -7%;
    height: 100%;
  }

  .first-content > div > span {
    font-size: 2rem;
  }

  .toGoShop {
    width: 100px;
  }

  .toGoShop > span:first-child {
    padding-left: 26px;
  }

  .toGoShop > span:last-child {
    padding-left: 8px;
  }

  .second-content {
    top: 28%;
  }

  .last-content form h3 {
    margin-bottom: 20px;
  }

  .last-content form {
    margin-bottom: 20px;
  }

  /* 슬릭 첫페이지로 */
  .button-wrap {
    bottom: 2%;
    left: 10%;
  }

  .button-wrap span {
    font-size: 0.9rem;
  }

  .button-wrap svg {
    font-size: 1.5rem;
  }
}
