.mypage-container {
  min-height: calc(100vh - 236px);
  width: 90%;
  margin: auto;
  padding: 88px 48px 48px 48px;
}

.mypage-title-border {
  width: 84vw;
  border-top: 2px solid black;
}
.mypage-title {
  position: relative;
  background-color: white;
  bottom: 25px;
  width: fit-content;
  text-align: left;
  font-family: "nav";
  font-weight: bold;
  padding: 0 10px;
  margin-left: 100px;
  margin-bottom: 50px;
}

.mypage-title-border {
  /* width: 84vw; */
  width: 100%;
  border-top: 2px solid black;
}

.mypage-title {
  position: relative;
  background-color: white;
  bottom: 25px;
  width: fit-content;
  text-align: left;
  font-family: "nav";
  font-weight: bold;
  padding: 0 10px;
  margin-left: 100px;
}

.section-title {
  display: inline-block;
  border-left: 4px solid black;
  padding-left: 10px;
  margin-left: 15px;
  margin-bottom: 15px;
  font-weight: 700;
}

/* 회원정보 */
.user-info {
  /* grid에서 flex로 교체 */
  display: flex;
  justify-content: space-around;
  margin: 30px 0 100px 0;
  padding: 0 30px;
}

/* 분리 되어있던 label과 input을 뭉치고 className 새로 부여 */
.user-info_form {
  display: flex;
  flex-direction: column;
  width: 40%;
  /* margin-right: 50px; */
}
.user-info_label {
  font-weight: bolder;
}
.user-info_input {
  border: none;
  border-bottom: 2px solid black;
  margin-bottom: 15px;
}

.user-info_input:focus {
  outline: none;
}
/* 주소지 변경 form */
.additDeliveryList {
  width: 40%;
}

/* 미디어쿼리 태블릿 추가 */
@media screen and (max-width: 991px) {
  .mypage-container {
    width: 100%;
  }
}

/* 모바일 */
@media screen and (max-width: 768px) {
  .mypage-container {
    margin-top: calc(30px + 1rem);
    padding: 0 1.5rem; /* 패딩값 수정 */
  }

  .mypage-title-border {
    display: none;
  }
  .mypage-title {
    margin: 0 auto 20px;
  }

  .mypage-container .section-title {
    margin-left: 0.5rem;
  }

  .user-info {
    flex-direction: column;
    margin: 30px 0 50px;
    padding: 0;
  }
  .user-info_form {
    width: 100%;
    margin-bottom: 50px;
  }
  .additDeliveryList {
    width: 100%;
  }
}