/* .product-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .product-area {
    flex-direction: column;
  }
}

.product-button {
  display: flex;
  flex-direction: column;
}

.product-detail {
  width: 350px;
  height: auto;
} */

.product-info {
  padding: 20px;
}

.product-shopping-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-area {
  box-sizing: border-box;
}

.product-handling-buttons {
  padding: 1vw 1vh;
  display: flex;
}

.product-handling-buttons svg {
  width: 2em;
  height: 2em;
  cursor: pointer;
  margin: 1em;
  color: lightgrey;
}
.product-handling-buttons input {
  width: 10em;
  cursor: pointer;
  margin: 1em;
}

.product-handling-buttons div {
  display: flex;
}
.product-handling-buttons div input {
  width: 2em;
  height: 2em;
  cursor: pointer;
  margin: 1em;
  color: lightgrey;
}
.product-handling-buttons svg:hover {
  color: black;
}

.product-create-area {
  display: flex;
  padding: 2vw 2vh;
  justify-content: center;
}

.img-box {
  width: 350px;
  height: auto;
  /* 캔버스 요소에 마진이 생겨버리면 이미지를 내보낼 때 그대로 반영되므로 주의 */
  position: relative;
}

.product-img {
  max-width: 100%;
}

.drawing-area {
  position: absolute;
  top: 20%;
  left: 25%;
  z-index: 10;
  width: 180px;
  height: 260px;
}
.drawing-area:hover {
  outline: 1px dashed black;
}

.product-important-handling-button {
  display: flex;
  flex-direction: column;
  padding: 2vw 2vh;
}

.product-important-handling-button svg {
  width: 2em;
  height: 2em;
  cursor: pointer;
  margin: 1em;
  color: lightgrey;
}
.product-important-handling-button svg:hover {
  color: black;
}

.product-info-area {
  padding: 2vw 2vh;
}

.product-info {
  padding: 1vw 1vh;
}

.product-introduce {
  margin: 0px auto;
}

.product-color-setter-area {
  padding: 1vw;
}

.product-size-select {
  width: 100px;
}

.product-quantity-select {
  width: 4em;
}

.product-add-cart svg {
  width: 2em;
  height: 2em;
  cursor: pointer;
  color: lightgrey;
}
.product-add-cart svg:hover {
  color: black;
}

@media screen and (max-width: 768px) {
  .product-area {
    display: flex;
    flex-direction: column;
  }
  .product-shopping-area {
    flex-direction: column;
  }
  .product-info-area {
    text-align: center;
  }
  .product-handling-buttons svg {
    width: 1.5em;
    height: 1.5em;
  }
  .product-handling-buttons input {
    width: 1.5em;
  }
  .product-handling-buttons div input {
    width: 1.5em;
    height: 1.5em;
  }
  .product-important-handling-button svg {
    width: 1.5em;
    height: 1.5em;
  }
  .product-color-setter-area {
    display: flex;
  }
}