.shop-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 236px);

  /* align-items: center; */
  width: fit-content;
  margin: auto;
}

.shop-border-area {
  width: 70vw;
  border-top: 2px solid black;
}

.shop-thumNail-list {
  position: relative;
  bottom: 15px;
  display: flex;
  justify-content: center;
}

.shop-product-card {
  width: 18vw;
  margin: 20px;
}

/* 이미지 최소 넓이 추가 */
.shop-product-card {
  min-width: 300px; /* 임시 값이니 모바일 크기 고려해서 정하기*/
}

.shop-label {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: fit-content;
  margin-left: 100px;
}

/* slick dots */
.shop-product-card .slick-dots {
  bottom: -33px;
  text-align: right;
}
/* .shop-slick-dots {
  position: absolute;
  left: 120px;
  top: 10px;
} */

.shop-title {
  position: relative;
  background-color: white;
  bottom: 25px;
  text-align: left;
  font-family: "nav";
  font-weight: bold;
  padding: 0 10px;
}

.shop-select-category {
  display: flex;
  justify-content: left;
}

.shop-category {
  position: relative;
  bottom: 20px;
  font-family: "nav";
  margin: 0 40px 0 0;
  padding: 0 15px;
  cursor: pointer;
  transition: 0.3s;
}

.shop-category:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  .shop-border-area {
    border: none;
  }
  .shop-title {
    margin-top: 30px;
  }

  .shop-label {
    margin: auto;
  }
  .shop-category {
    padding: auto;
    margin: auto;
  }

  .shop-thumNail-list {
    flex-direction: column;
  }

  .shop-product-card {
    min-width: 100%;
    margin: auto;
  }
}
