/* outlet 공통
   : 상품리스트, 상품상세, 장바구니, 마이페이지, 회원가입 */
.wrap {
  height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* shop - 상품리스트 */
.product-container {
  display: flex;
}
.product-card {
  width: 200px;
  height: 200px;
  /* 배경색상 삭제 */
  margin: 20px;
  cursor: pointer;
}

/* 회원가입 */
.sign-up {
  width: 300px;
}
.sign-up label,
.sign-up input {
  display: block;
  width: 100%;
  height: 30px;
}
.sign-up input {
  margin-bottom: 10px;
}

/* 폰트입니다 */
@font-face {
  font-family: logo;
  src: url("./fonts/titleLogo.otf");
}
@font-face {
  font-family: nav;
  src: url("./fonts/nav.otf");
}

@font-face {
  font-family: ongothic;
  src: url("./fonts/유니버셜온고딕체.otf");
}
